<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'latestvacancies/css/latestvacancies.css' %}" type="text/css">
    <title>Title</title>
</head>
<body>
    <div class = "head">
        <div class="a">Android - разработчик</div>
        <img class = "img" src="{% static 'androiddev/img/android.png' %}">
    </div>
    <div class = 'list'>
        <div class = 'navigation'>Навигация</div>
        <a>Главная</a>
        <a><br>Востребованность</a>
        <a><br>География</a>
        <a><br>Навыки</a>
        <a><br>Последние вакансии</a>
    </div>

    {% for value in data %}
        {{ value }}<br>
    {% endfor %}
</body>
</html>