<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'androiddev/css/styles.css' %}" type="text/css">
    <title>Главная</title>
</head>

<body>
    <div class = "head">
        <div class="a">Android - разработчик</div>
        <img class = "img" src="{% static 'androiddev/img/android.png' %}">
    </div>
    <div class = 'list'>
        <div class = 'navigation'>Навигация</div>
        <a href="">Главная</a>
        <a href="demand"><br>Востребованность</a>
        <a href="geography"><br>География</a>
        <a href="skills"><br>Навыки</a>
        <a href="latestvacancies"><br>Последние вакансии</a>
    </div>
    <div class = "starttext">Перспективная и интересная профессия<br>
            Android - разработчик
    </div>
    <div class = "who">Кто же это такой?</div>
    <img class="developer" src="{% static 'androiddev/img/6219219.png'%}" width="150" height="150"/>
    <div class = "text">Android – разработчик является специалистом, разрабатывающим программное обеспечение для открытой операционной системы Andoid. Такие разработчики крайне востребованы, так как доля рыночная доля Android устройств превышает 70%
    Сегодня мир мобильных приложений очень широк, и постоянно расширяется, развивается, совершенствуется. Соответственно, постоянно сохраняется и высокий спрос на Android-разработчиков, они требуются как в большие, так и в маленькие компании
    Android – разработчик является специалистом, разрабатывающим программное обеспечение для открытой операционной системы Andoid.<br>
    <br>
    Сегодня мир мобильных приложений очень широк, и постоянно расширяется, развивается, совершенствуется. Соответственно, постоянно сохраняется и высокий спрос на Android-разработчиков, они требуются как в большие, так и в маленькие компании
    </div>
    <div class="employment">Чем занимается?</div>
    <ul class="employment_list">
        <li>создание архитектуры приложений</li>
        <li>конструирование интерфейса программы</li>
        <li>написание программного кода</li>
        <li>загрузка программы в android-магазин или на сайт</li>
        <li>внесение правок, выпуск обновлений</li>
        <li>анализ поведения пользователей для улучшения программы</li>
    </ul>
    <div class="pluses">Плюсы</div>
    <ol class="pluses_list">
        <li>Более открытая операционная система</li>
        <li>Большое сообщество разработчиков</li>
        <li>Сферы применения (не только смартфоны, но и умные часы, VR/AR и др.)</li>
        <li>Благодаря Play Market более удобное продвижение продукта по сравнению с IOS</li>
    </ol>
    <div class="minuses">Минусы</div>
    <ol class="minuses_list">
        <li>Несколько версий ОС</li>
        <li>Многообразие устройств</li>
    </ol>
    <div class="instruments">Инструменты</div>
    <img class="java_img" src="{% static 'androiddev/img/java.png' %}">
    <img class="kotlin_img" src="{% static 'androiddev/img/kotlin.png' %}">
    <img class="androidstudio_img" src="{% static 'androiddev/img/androidstudio.png' %}">
    <div class="java">Java</div>
    <div class="kotlin">Kotlin</div>
    <div class="androidstudio">Android Studio</div>
    <div class="career">Карьера</div>
    <div class="career_list">Карьера Android разработчика идёт по следующим ступеням:<br>
    - Junior разработчик – разработчик с небольшим опытом<br>
    - Middle разработчик – более опытен чем Junior, большую часть работы выполняет сам<br>
    - Senior разработчик – самый опытный специалист, может выступать наставником для Junior и Middle разработчиков
    </div>
    <div class="howtobecome">Как стать android разработчиком</div>
    <div class="howtobecome_list">Существуют следующие способы обучения на android разработчика:<br>
    - Самообучение<br>
    Такой подход требует высокой мотивации, концентрации и самоорганизации
    В интернете много обучающих материалов, например официальное руководство от Google, самоучители и другие материалы<br>
    -ВУЗ<br>
    Многие Android-разработчики пришли в профессию с образованием в области программирования и информационных систем. В некоторых вузах есть программы, сконцентрированные на подготовке именно мобильных разработчиков<br>
    - Онлайн образование<br>
    Один из самых лучших методов изучения профессии без начальных знаний
    </div>
    <div class="footer">Слобода Кирилл, РИ-210936</div>
</body>
</html>