<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'androiddev/css/styles.css' %}" type="text/css">
    <title>Главная</title>
</head>

<body>
    <div class = "head">
        <div class="a">Android - разработчик</div>
        <img class = "img" src="{% static 'androiddev/img/android.png' %}">
    </div>
    <div class = 'list'>
        <div class = 'navigation'>Навигация</div>
        <a>Главная</a>
        <a><br>Востребованность</a>
        <a><br>География</a>
        <a><br>Навыки</a>
        <a><br>Последние вакансии</a>
    </div>
    <div class = "starttext">Перспективная и интересная профессия<br>
            Android - разработчик
    </div>
    <div class = "who">Кто же это такой?</div>
    <img class="developer" src="{% static 'androiddev/img/6219219.png'%}" width="150" height="150"/>
    <div class = "text">Android – разработчик является специалистом, разрабатывающим программное обеспечение для открытой операционной системы Andoid. Такие разработчики крайне востребованы, так как доля рыночная доля Android устройств превышает 70%
    Сегодня мир мобильных приложений очень широк, и постоянно расширяется, развивается, совершенствуется. Соответственно, постоянно сохраняется и высокий спрос на Android-разработчиков, они требуются как в большие, так и в маленькие компании
    Android – разработчик является специалистом, разрабатывающим программное обеспечение для открытой операционной системы Andoid. Такие разработчики крайне востребованы, так как доля рыночная доля Android устройств превышает 70%<br>
    <br>
    Сегодня мир мобильных приложений очень широк, и постоянно расширяется, развивается, совершенствуется. Соответственно, постоянно сохраняется и высокий спрос на Android-разработчиков, они требуются как в большие, так и в маленькие компании
    </div>
</body>
</html>