body{
    margin: 0px 0px 0px 0px;
}

.head{
    background-color: #3c49d6;
    padding: 10px 10px 10px 10px;
}

.a{
    position: absolute;
    font-size: 50px;
    left: 550px;
    top: 0px;
}

.img{
    width: 100px;
    height: 100px;
}

.list{
    background-color: #929296;
    font-size: 30px;
    margin-right: 1200px;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
}

.navigation{
    background-color: #1f1f21;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 8px;
    padding: 3px;
    padding-left: 100px
}

.footer{
    position: absolute;
    border: solid;
    color: #d4d5d9;
    background-color: #3c3d42;
    border-color: #3c3d42;
    top: 7700px;
    font-size:20px;
    padding: 5px 1400px 10px 30px;
}