<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'geography/css/geography.css' %}" type="text/css">
    <title>Title</title>
</head>
<body>
    <div class = "head">
        <div class="a">Android - разработчик</div>
        <img class = "img" src="{% static 'androiddev/img/android.png' %}">
    </div>
    <div class = 'list'>
        <div class = 'navigation'>Навигация</div>
        <a href="">Главная</a>
        <a href="demand"><br>Востребованность</a>
        <a href="geography"><br>География</a>
        <a href="skills"><br>Навыки</a>
        <a href="latestvacancies"><br>Последние вакансии</a>
    </div>
    <div class="footer">Слобода Кирилл, РИ-210936</div>
</body>
</html>